version: "3.9"

services:
  redis:
    image: redis:7
    container_name: lams-redis
    ports:
      - "6379:6379"
    command: redis-server
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data:
